@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght500&display=swap');

:root {
    --red:#ec1839;
}
body {
    font-family: 'DM sans', sans-serif;
}
.profile {
    margin: auto;
    max-width: 300px;
    width: 90%;
    text-align: center;
    box-shadow: 5px 5px 20px rgb(218, 218, 218);
    box-sizing: border-box;
    padding: 15px;
    border-radius: 20px;
}
[data-testid=slackDisplayImage] {
    border-radius: 5px;
    height: 150px;
    width: 100px;
}
a {
    text-decoration: none;
    background-color: #ec1839;
    color: white;
    padding:5px 20px;
    border-radius: 20px;
    border-color: var(--red);
}
h2 {
    color: var(--red);
}